.elementor-6 .elementor-element.elementor-element-0428a87 {
  --display: flex;
  --min-height: 100vh;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: space-around;
  border-style: groove;
  --border-style: groove;
  border-width: 0px 0px 11px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 11px;
  --border-left-width: 0px;
  border-color: #000000;
  --border-color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-0428a87:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-0428a87
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("./images/hero.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-6 .elementor-element.elementor-element-837bbf6 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-start;
  --align-items: center;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-6 .elementor-element.elementor-element-e1d7e5a {
  width: var(--container-widget-width, 10%);
  max-width: 10%;
  --container-widget-width: 10%;
  --container-widget-flex-grow: 0;
}
.elementor-6 .elementor-element.elementor-element-e1d7e5a img {
  width: 50%;
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
  border-color: var(--e-global-color-text);
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
  color: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-icon svg {
  fill: var(--e-global-color-primary);
}
.elementor-widget-icon-list
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-icon-list .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}
.elementor-6
  .elementor-element.elementor-element-de29937
  > .elementor-widget-container {
  background-color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6
  .elementor-element.elementor-element-de29937
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-de29937
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-6 .elementor-element.elementor-element-de29937 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-6
  .elementor-element.elementor-element-de29937
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-6
  .elementor-element.elementor-element-de29937
  .elementor-icon-list-item
  > a {
  font-family: "COM", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-6
  .elementor-element.elementor-element-de29937
  .elementor-icon-list-text {
  color: #000000;
  transition: color 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-de29937
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #9c3c14;
}
.elementor-6 .elementor-element.elementor-element-7e3201d {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
}
.elementor-6 .elementor-element.elementor-element-50d112b {
  --display: flex;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
}
.elementor-6
  .elementor-element.elementor-element-e80bb52
  > .elementor-widget-container {
  --e-transform-rotateZ: -3deg;
}
.elementor-6 .elementor-element.elementor-element-e80bb52 img {
  width: 100%;
}
.elementor-6
  .elementor-element.elementor-element-50a8625
  > .elementor-widget-container {
  --e-transform-rotateZ: -9deg;
}
.elementor-6 .elementor-element.elementor-element-50a8625 img {
  width: 25%;
}
.elementor-6 .elementor-element.elementor-element-ce2d8c2 {
  --display: flex;
}
.elementor-6 .elementor-element.elementor-element-3d05075 {
  text-align: right;
}
.elementor-6 .elementor-element.elementor-element-3d05075 img {
  width: 76%;
}
.elementor-6 .elementor-element.elementor-element-215da75 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --padding-top: 150px;
  --padding-bottom: 150px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-6
  .elementor-element.elementor-element-215da75:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-215da75
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://shibainusfather.meme/wp-content/uploads/2025/06/backsn-4.jpg");
  background-size: cover;
}
.elementor-6 .elementor-element.elementor-element-f69fc2b {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --gap: 5px 0px;
  --row-gap: 5px;
  --column-gap: 0px;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-6 .elementor-element.elementor-element-1adf5ec {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-1adf5ec
  .elementor-heading-title {
  font-family: "COM", Sans-serif;
  font-size: 100px;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-shadow: 4px 4px 0px #000000;
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-56deeb5 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-56deeb5
  .elementor-heading-title {
  font-family: "COM", Sans-serif;
  font-size: 100px;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-shadow: 4px 4px 0px #000000;
  color: #9c3c14;
}
.elementor-6 .elementor-element.elementor-element-dfe8f5d {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-dfe8f5d
  .elementor-heading-title {
  font-family: "COM", Sans-serif;
  font-size: 100px;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-shadow: 4px 4px 0px #000000;
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-647cafe {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
}
.elementor-6 .elementor-element.elementor-element-4c20eb8 {
  --display: flex;
}
.elementor-6 .elementor-element.elementor-element-95d06be.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-6 .elementor-element.elementor-element-95d06be img {
  width: 100%;
}
.elementor-6 .elementor-element.elementor-element-d3a8ce9 {
  --display: flex;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-6 .elementor-element.elementor-element-38c599e {
  font-family: "COM", Sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #141414;
}
.elementor-6 .elementor-element.elementor-element-1cfb728 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-6 .elementor-element.elementor-element-1fcf887 .elementor-button {
  background-color: #ffffff;
  font-family: "COM", Sans-serif;
  font-weight: 500;
  fill: #000000;
  color: #000000;
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-0c88fdc .elementor-button {
  background-color: #ffffff;
  font-family: "COM", Sans-serif;
  font-weight: 500;
  fill: #000000;
  color: #000000;
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-3120df1 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  border-style: groove;
  --border-style: groove;
  border-width: 11px 0px 0px 0px;
  --border-top-width: 11px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #000000;
  --border-color: #000000;
  --padding-top: 150px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-6
  .elementor-element.elementor-element-3120df1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-3120df1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://shibainusfather.meme/wp-content/uploads/2025/06/backsn-7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  back
}
.elementor-6
  .elementor-element.elementor-element-3f712d6
  .elementor-heading-title {
  font-family: "COM", Sans-serif;
  font-size: 100px;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-shadow: 4px 4px 0px #000000;
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-51a128b {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-6 .elementor-element.elementor-element-84cb9fb.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-6 .elementor-element.elementor-element-84cb9fb img {
  width: 87%;
}
.elementor-6 .elementor-element.elementor-element-0d9374c {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: flex-end;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-6 .elementor-element.elementor-element-c7eeab6.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-6 .elementor-element.elementor-element-c7eeab6 {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-c7eeab6 img {
  width: 100%;
  filter: brightness(110%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-6 .elementor-element.elementor-element-04b3266 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  border-style: groove;
  --border-style: groove;
  border-width: 11px 0px 0px 0px;
  --border-top-width: 11px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #000000;
  --border-color: #000000;
  --padding-top: 150px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-6
  .elementor-element.elementor-element-04b3266:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-04b3266
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://shibainusfather.meme/wp-content/uploads/2025/06/templeback.png");
  background-position: bottom center;
  background-size: cover;
}
.elementor-6
  .elementor-element.elementor-element-be7a223
  .elementor-heading-title {
  font-family: "COM", Sans-serif;
  font-size: 100px;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-shadow: 4px 4px 0px #000000;
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-9b65ac4 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-6 .elementor-element.elementor-element-352ccdd {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: flex-end;
  --border-radius: 5px 5px 5px 5px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-6 .elementor-element.elementor-element-632a6a1 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  justify-content: center;
  align-items: center;
}
.elementor-widget-image-box .elementor-image-box-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-widget-image-box:has(:hover) .elementor-image-box-title,
.elementor-widget-image-box:has(:focus) .elementor-image-box-title {
  color: var(--e-global-color-primary);
}
.elementor-widget-image-box .elementor-image-box-description {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-7c4d72e
  > .elementor-widget-container {
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 4px 7px 7px 4px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6
  .elementor-element.elementor-element-7c4d72e
  .elementor-image-box-title {
  font-family: "COM", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-7c4d72e:has(:hover)
  .elementor-image-box-title,
.elementor-6
  .elementor-element.elementor-element-7c4d72e:has(:focus)
  .elementor-image-box-title {
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-7c4d72e
  .elementor-image-box-description {
  font-family: "COM", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-883fdbf
  > .elementor-widget-container {
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 4px 7px 7px 4px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6
  .elementor-element.elementor-element-883fdbf
  .elementor-image-box-title {
  font-family: "COM", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  word-wrap: break-word;
  overflow-wrap: break-word; /* modern equivalent */
}
.elementor-6
  .elementor-element.elementor-element-883fdbf:has(:hover)
  .elementor-image-box-title,
.elementor-6
  .elementor-element.elementor-element-883fdbf:has(:focus)
  .elementor-image-box-title {
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-883fdbf
  .elementor-image-box-description {
  font-family: "COM", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
.elementor-6 .elementor-element.elementor-element-44a97e1 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  justify-content: center;
  align-items: center;
}
.elementor-6
  .elementor-element.elementor-element-0bb6f91
  > .elementor-widget-container {
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 4px 7px 7px 4px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6
  .elementor-element.elementor-element-0bb6f91
  .elementor-image-box-title {
  font-family: "COM", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-0bb6f91:has(:hover)
  .elementor-image-box-title,
.elementor-6
  .elementor-element.elementor-element-0bb6f91:has(:focus)
  .elementor-image-box-title {
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-0bb6f91
  .elementor-image-box-description {
  font-family: "COM", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-9a31d9a
  > .elementor-widget-container {
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 4px 7px 7px 4px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6
  .elementor-element.elementor-element-9a31d9a
  .elementor-image-box-title {
  font-family: "COM", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-9a31d9a:has(:hover)
  .elementor-image-box-title,
.elementor-6
  .elementor-element.elementor-element-9a31d9a:has(:focus)
  .elementor-image-box-title {
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-9a31d9a
  .elementor-image-box-description {
  font-family: "COM", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
.elementor-6 .elementor-element.elementor-element-a548ca5 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: flex-end;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-6 .elementor-element.elementor-element-6761ebf.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-6 .elementor-element.elementor-element-6761ebf {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-6761ebf img {
  width: 100%;
  filter: brightness(110%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-6 .elementor-element.elementor-element-717e9a9 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  border-style: groove;
  --border-style: groove;
  border-width: 11px 0px 0px 0px;
  --border-top-width: 11px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #000000;
  --border-color: #000000;
  --padding-top: 150px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-6
  .elementor-element.elementor-element-717e9a9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-717e9a9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("./images/footer.png");
  background-position: bottom center;
  background-size: cover;
}
.elementor-6
  .elementor-element.elementor-element-717e9a9
  > .elementor-shape-bottom
  .elementor-shape-fill,
.elementor-6
  .elementor-element.elementor-element-717e9a9
  > .e-con-inner
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: #2e00008f;
}
.elementor-6
  .elementor-element.elementor-element-717e9a9
  > .elementor-shape-bottom
  svg,
.elementor-6
  .elementor-element.elementor-element-717e9a9
  > .e-con-inner
  > .elementor-shape-bottom
  svg {
  width: calc(100% + 1.3px);
}
.elementor-6 .elementor-element.elementor-element-4e057b4 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
}
.elementor-6 .elementor-element.elementor-element-b1496fb {
  --display: flex;
  --justify-content: space-between;
}
.elementor-6 .elementor-element.elementor-element-d863ae7 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-d863ae7
  .elementor-heading-title {
  font-family: "COM", Sans-serif;
  font-size: 100px;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-shadow: 4px 4px 0px #000000;
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-d63327c img {
  width: 100%;
}
.elementor-6 .elementor-element.elementor-element-060e833 {
  --display: flex;
  --justify-content: center;
}
.elementor-6 .elementor-element.elementor-element-0985a01 img {
  width: 59%;
}
.elementor-6 .elementor-element.elementor-element-6c931b8 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
}
.elementor-6 .elementor-element.elementor-element-0402a36 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
}
.elementor-6 .elementor-element.elementor-element-4905c31 {
  width: var(--container-widget-width, 10%);
  max-width: 10%;
  --container-widget-width: 10%;
  --container-widget-flex-grow: 0;
}
.elementor-6
  .elementor-element.elementor-element-4905c31
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-6
  .elementor-element.elementor-element-4905c31
  > .elementor-widget-container {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px 5px 5px 2px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-4905c31 img {
  width: 100%;
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-394ecf8 {
  width: var(--container-widget-width, 10%);
  max-width: 10%;
  --container-widget-width: 10%;
  --container-widget-flex-grow: 0;
}
.elementor-6
  .elementor-element.elementor-element-394ecf8
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-6
  .elementor-element.elementor-element-394ecf8
  > .elementor-widget-container {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px 5px 5px 2px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-394ecf8 img {
  width: 100%;
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-4b81a19 {
  width: var(--container-widget-width, 10%);
  max-width: 10%;
  --container-widget-width: 10%;
  --container-widget-flex-grow: 0;
}
.elementor-6
  .elementor-element.elementor-element-4b81a19
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-6
  .elementor-element.elementor-element-4b81a19
  > .elementor-widget-container {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px 5px 5px 2px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-4b81a19 img {
  width: 100%;
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-d4ce07a {
  width: var(--container-widget-width, 10%);
  max-width: 10%;
  --container-widget-width: 10%;
  --container-widget-flex-grow: 0;
}
.elementor-6
  .elementor-element.elementor-element-d4ce07a
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-6
  .elementor-element.elementor-element-d4ce07a
  > .elementor-widget-container {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px 5px 5px 2px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-d4ce07a img {
  width: 100%;
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-3e84004 {
  width: var(--container-widget-width, 10%);
  max-width: 10%;
  --container-widget-width: 10%;
  --container-widget-flex-grow: 0;
}
.elementor-6
  .elementor-element.elementor-element-3e84004
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-6
  .elementor-element.elementor-element-3e84004
  > .elementor-widget-container {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px 5px 5px 2px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
}
.elementor-6 .elementor-element.elementor-element-3e84004 img {
  width: 100%;
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}
@media (min-width: 768px) {
  .elementor-6 .elementor-element.elementor-element-215da75 {
    --content-width: 1600px;
  }
  .elementor-6 .elementor-element.elementor-element-3120df1 {
    --content-width: 1469px;
  }
  .elementor-6 .elementor-element.elementor-element-04b3266 {
    --content-width: 1469px;
  }
  .elementor-6 .elementor-element.elementor-element-717e9a9 {
    --content-width: 1600px;
  }
}
@media (max-width: 767px) {
  .elementor-6 .elementor-element.elementor-element-0428a87 {
    --min-height: 39vh;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-0428a87:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-6
    .elementor-element.elementor-element-0428a87
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: bottom right;
  }
  .elementor-6 .elementor-element.elementor-element-837bbf6 {
    --justify-content: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
  }
  .elementor-6 .elementor-element.elementor-element-e1d7e5a {
    --container-widget-width: 62px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 62px);
    max-width: 62px;
  }
  .elementor-6 .elementor-element.elementor-element-e1d7e5a img {
    width: 100%;
  }
  .elementor-6
    .elementor-element.elementor-element-de29937
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-6
    .elementor-element.elementor-element-de29937
    .elementor-icon-list-item
    > a {
    font-size: 16px;
  }
  .elementor-6 .elementor-element.elementor-element-7e3201d {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6 .elementor-element.elementor-element-50d112b {
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-e80bb52
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-6 .elementor-element.elementor-element-50a8625 img {
    width: 40%;
  }
  .elementor-6 .elementor-element.elementor-element-3d05075 img {
    width: 100%;
  }
  .elementor-6 .elementor-element.elementor-element-215da75 {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6 .elementor-element.elementor-element-f69fc2b {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6 .elementor-element.elementor-element-1adf5ec {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-1adf5ec
    .elementor-heading-title {
    font-size: 50px;
    line-height: 1.2em;
  }
  .elementor-6 .elementor-element.elementor-element-56deeb5 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-56deeb5
    .elementor-heading-title {
    font-size: 50px;
    line-height: 1.2em;
  }
  .elementor-6 .elementor-element.elementor-element-dfe8f5d {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-dfe8f5d
    .elementor-heading-title {
    font-size: 50px;
    line-height: 1.2em;
  }
  .elementor-6 .elementor-element.elementor-element-4c20eb8 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-95d06be
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-6 .elementor-element.elementor-element-38c599e {
    text-align: center;
    font-size: 18px;
  }
  .elementor-6 .elementor-element.elementor-element-1cfb728 {
    --justify-content: center;
    --gap: 10px 0px;
    --row-gap: 10px;
    --column-gap: 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-3120df1:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-6
    .elementor-element.elementor-element-3120df1
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: center center;
    background-size: cover;
  }
  .elementor-6 .elementor-element.elementor-element-3120df1 {
    --padding-top: 50px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6 .elementor-element.elementor-element-3f712d6 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-3f712d6
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-6 .elementor-element.elementor-element-51a128b {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-84cb9fb
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-6 .elementor-element.elementor-element-84cb9fb img {
    width: 100%;
  }
  .elementor-6 .elementor-element.elementor-element-0d9374c {
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-c7eeab6
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-6 .elementor-element.elementor-element-c7eeab6 img {
    width: 100%;
  }
  .elementor-6
    .elementor-element.elementor-element-04b3266:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-6
    .elementor-element.elementor-element-04b3266
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: center center;
    background-size: cover;
  }
  .elementor-6 .elementor-element.elementor-element-04b3266 {
    --padding-top: 50px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6 .elementor-element.elementor-element-be7a223 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-be7a223
    .elementor-heading-title {
    font-size: 50px;
  }
  .elementor-6 .elementor-element.elementor-element-9b65ac4 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6 .elementor-element.elementor-element-352ccdd {
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6 .elementor-element.elementor-element-a548ca5 {
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-6761ebf
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-6 .elementor-element.elementor-element-6761ebf img {
    width: 100%;
  }
  .elementor-6 .elementor-element.elementor-element-717e9a9 {
    --padding-top: 50px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6 .elementor-element.elementor-element-d863ae7 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-d863ae7
    .elementor-heading-title {
    font-size: 50px;
  }
  .elementor-6 .elementor-element.elementor-element-d63327c img {
    width: 100%;
  }
  .elementor-6 .elementor-element.elementor-element-0985a01 img {
    width: 100%;
  }
  .elementor-6 .elementor-element.elementor-element-0402a36 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-6 .elementor-element.elementor-element-4905c31 {
    --container-widget-width: 60px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 60px);
    max-width: 60px;
  }
  .elementor-6 .elementor-element.elementor-element-394ecf8 {
    --container-widget-width: 60px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 60px);
    max-width: 60px;
  }
  .elementor-6 .elementor-element.elementor-element-4b81a19 {
    --container-widget-width: 60px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 60px);
    max-width: 60px;
  }
  .elementor-6 .elementor-element.elementor-element-d4ce07a {
    --container-widget-width: 60px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 60px);
    max-width: 60px;
  }
  .elementor-6 .elementor-element.elementor-element-3e84004 {
    --container-widget-width: 60px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 60px);
    max-width: 60px;
  }
} /* Start custom CSS for image, class: .elementor-element-50a8625 */
.tranca-balanca {
  display: inline-block;
  animation: balanca 1.8s ease-in-out infinite;
  transform-origin: center top;
}

@keyframes balanca {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  25% {
    transform: rotate(3deg) translateY(-2px);
  }
  50% {
    transform: rotate(0deg) translateY(0px);
  }
  75% {
    transform: rotate(-3deg) translateY(-2px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-0985a01 */
.floating {
  animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
} /* End custom CSS */
/* Start Custom Fonts CSS */
@font-face {
  font-family: "COM";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("./images/animeace2_bld.ttf") format("truetype");
}
/* End Custom Fonts CSS */
